<footer>

  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6">

        <div class="row">
          <div class="col-sm-3">
            <img class="img-fluid" src="{{site.baseurl}}/assets/img/mas-logo.png" />
          </div>
          <div class="col-sm-9">
            <h4>
              <strong><em>FOLLOW US</em></strong>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-youtube"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </h4>
            <hr />
            <p>
              MANUFACTURED BY: MID-AMERICAN SALT, LLC.<br />
              4528 HILLEGAS ROAD FORT WAYNE, IN 46818<br />
              <strong>WWW.MIDAMERICANSALT.COM</strong>
            </p>
          </div>
        </div>

      </div>
      <div class="col-lg-6">
        <p>
          <em>All <strong>HotRock™</strong> products are produced by <strong>Mid-American Salt, LLC.</strong> With our salt mine (called SSM), Mid-American Salt is always able to ensure the same quality and reliability of supply. Along with a limitless supply of raw materials, Mid-American Salt has a diverse packaging network spanning the United States. This ensures competitive pricing and the fastest delivery possible!</em>
        </p>
        <p>
          <strong>For any questions about products and pricing, please call.</strong>
        </p>
      </div>
    </div>

    <div class="text-center">
      <p>&copy; Lewis SEO 2017</p>
      <small class="text-muted">Work In Progress</small>
    </div>
  </div>

</footer>

<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/skrollr.min.js"></script>
<script src="{{site.baseurl}}/assets/js/lightbox.min.js"></script>
<script src="{{site.baseurl}}/assets/js/main.min.js"></script>
