<!--  Sidebar / Header  -->
<header>

    <!--  Logo Section  -->
    <div class='logo-wrap'>
        <a href='/'>
            <img src='{{site.baseurl}}/assets/img/mas-logo.png' alt='Logo' />
        </a>
    </div>

    <div class='show-button'>
        <div class='line line1'></div>
        <div class='line line2'></div>
        <div class='line line3'></div>
    </div>

    <div class='sidebar'>

        <div class='close-button'>
            <div class='line line1'></div>
            <div class='line line2'></div>
        </div>

        <!--   Navigation   -->

        <nav role='navigation'>
            <ul class='nav'>
                <li class='nav-item'>
                    <a class='nav-link' href='/'>Home</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/about/'>About</a>
                    <ul class='sub-nav'>
                        <li class='sub-nav-item'>
                            <a href='' class='sub-nav-link'>Our Mine</a>
                        </li>
                        <li class='sub-nav-item'>
                            <a href='' class='sub-nav-link'>Meet the Team</a>
                        </li>
                    </ul>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='/products/'>Products</a>
                    <ul class='sub-nav'>
                        <li class='sub-nav-item'>
                            <a href='' class='sub-nav-link'>Bulk Salt</a>
                        </li>
                        <li class='sub-nav-item'>
                            <a href='' class='sub-nav-link'>Bagged Salt</a>
                        </li>
                        <li class='sub-nav-item'>
                            <a href='' class='sub-nav-link'>Equipment</a>
                        </li>
                        <li class='sub-nav-item'>
                            <a href='' class='sub-nav-link'>Technical Info</a>
                        </li>
                    </ul>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='#'>Network</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='#'>News</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='#'>Logistics</a>
                </li>
                <li class='nav-item'>
                    <a class='nav-link' href='#'>Contact</a>
                </li>
            </ul>
        </nav>

        <!--  Social Section  -->
        <div class='social-wrap'>
            <a href=''><i class='fa fa-phone'></i> 260-387-6170</a><br>
            <a href=''><i class='fa fa-envelope-o'></i> office@midamericansalt.com</a>
            <ul class='social-media-list'>
                <li class='social-item'><a href='#'><i class='fa fa-facebook-f'></i></a></li>
                <li class='social-item'><a href='#'><i class='fa fa-twitter'></i></a></li>
                <li class='social-item'><a href='#'><i class='fa fa-google-plus'></i></a></li>
                <li class='social-item'><a href='#'><i class='fa fa-youtube-play'></i></a></li>
            </ul>
        </div>

    </div>

</header>
